@media screen and (min-width: 700px) {
  header {
    .upper-header {
      height: 55px;
      .left {
        .logo {
          display: block;
        }

        .mobile-logo {
          display: none;
        }
      }
    }

    .lower-header {
      .search-mobile {
        display: none;
      }

      .search, .links {
        display: block;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  main {
    .agent {
      padding-bottom: 0;
    }

    .content {
      .content-mobile-nav {
        display: none;
      }
      .content-nav {
        display: block;
      }
    }
  }

  footer {
    .footer-first {
      .phone,
      .address {
        text-align: left;
      }
    }

    .footer-second {
      .copyright,
      .icons {
        text-align: right;
      }
    }
  }
}
