.page-padding {
  padding-left: 15px;
  padding-right: 15px; }

.no-padding {
  padding: 0 !important; }

.font-sm {
  font-size: 12px; }

.font-md {
  font-size: 14px; }

.font-lg {
  font-size: 16px; }

.font-xlg {
  font-size: 18px; }

.btn-teal {
  background-color: #237377;
  height: 40px;
  color: #fff;
  width: 100%; }

h1 {
  font-size: 38px; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

html {
  background-color: pink; }

body {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff; }

a {
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%; }

header .upper-header {
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px; }
  header .upper-header .left .logo {
    display: none; }
  header .upper-header .right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap; }
    header .upper-header .right .upper-header-link {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      flex-wrap: wrap;
      color: #2399A6; }
      header .upper-header .right .upper-header-link:not(:first-of-type) {
        margin-left: 20px; }
header .lower-header {
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #AAA; }
  header .lower-header .search-mobile .input-group-addon {
    background-color: #2399A6;
    width: 27%; }
    header .lower-header .search-mobile .input-group-addon svg {
      margin: 0 auto;
      height: 21px;
      width: 21px; }
  header .lower-header .search {
    display: none; }
    header .lower-header .search input {
      border-radius: 0;
      height: 40px; }
  header .lower-header .links {
    display: none; }
    header .lower-header .links .link {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color: #fff; }
      header .lower-header .links .link a {
        text-decoration: underline; }

main .agent {
  background-color: #EEE;
  padding-bottom: 25px; }
  main .agent .agent-information .agent-wrapper {
    padding-top: 10px; }
    main .agent .agent-information .agent-wrapper small {
      color: #BCBCBC; }
    main .agent .agent-information .agent-wrapper button {
      margin: 15px 0; }
    main .agent .agent-information .agent-wrapper .social-icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap; }
  main .agent .agent-contact .agent-wrapper {
    padding-top: 25px; }
    main .agent .agent-contact .agent-wrapper .agent-contact-row {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-end;
      flex-wrap: wrap;
      color: #2399A6;
      margin-bottom: 10px; }
      main .agent .agent-contact .agent-wrapper .agent-contact-row svg {
        margin-right: 15px; }
main .content {
  background-color: #fff;
  padding-top: 25px; }
  main .content .content-mobile-nav select {
    font-weight: bolder;
    color: #2399A6;
    border-radius: 0;
    background: url("../Assets/SVGs/angle-down.svg") no-repeat right;
    background-position-x: 95%;
    -webkit-appearance: none; }
  main .content .content-nav {
    display: none;
    padding: 30px 0 40px; }
    main .content .content-nav a {
      display: inline-block;
      width: 25%;
      padding-bottom: 10px;
      color: #AAA;
      border-bottom: 4px solid #EEE; }
      main .content .content-nav a.active, main .content .content-nav a:hover {
        border-color: #2399A6;
        color: #2399A6; }
  main .content .content-main {
    padding-top: 10px; }
    main .content .content-main article {
      line-height: 28px;
      padding-bottom: 25px; }
    main .content .content-main aside .aside-section {
      margin-bottom: 25px; }

footer {
  background-color: #2399A6;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff; }
  footer .footer-first .phone,
  footer .footer-first .address {
    text-align: center; }
  footer .footer-first .social-icons {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  footer .footer-second .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    footer .footer-second .links a {
      text-decoration: underline; }
  footer .footer-second .copyright {
    text-align: center;
    margin: 10px 0; }
  footer .footer-second .icons {
    text-align: center; }
    footer .footer-second .icons svg:first-of-type {
      margin-right: 7.5px; }
    footer .footer-second .icons svg:last-of-type {
      margin-left: 7.5px; }

@media screen and (min-width: 700px) {
  header .upper-header {
    height: 55px; }
    header .upper-header .left .logo {
      display: block; }
    header .upper-header .left .mobile-logo {
      display: none; }
  header .lower-header .search-mobile {
    display: none; }
  header .lower-header .search, header .lower-header .links {
    display: block; } }
@media screen and (min-width: 768px) {
  main .agent {
    padding-bottom: 0; }
  main .content .content-mobile-nav {
    display: none; }
  main .content .content-nav {
    display: block; }

  footer .footer-first .phone,
  footer .footer-first .address {
    text-align: left; }
  footer .footer-second .copyright,
  footer .footer-second .icons {
    text-align: right; } }

/*# sourceMappingURL=styles.css.map */
