// Variables
$lightTeal: #2399A6;
$darkTeal: #237377;
$lightGray: #EEE;
$mediumGray: #AAA;
$darkGray: #595959;
$fontGray: #BCBCBC;
$black: #323232;
$white: #fff;

$smFont: 12px;
$mdFont: 14px;
$lgFont: 16px;
$xlgFont: 18px;

// Mixins
@mixin flexbox($direction: row, $justify: flex-start, $align: flex-start, $wrap: wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

// Universal classes
// .page-padding,
// .header-padding {
//   padding-left: 15px;
//   padding-right: 15px;
// }

.no-padding {
  padding: 0 !important;
}

.font-sm {
  font-size: $smFont;
}

.font-md {
  font-size: $mdFont;
}

.font-lg {
  font-size: $lgFont;
}

.font-xlg {
  font-size: $xlgFont;
}

.btn-teal {
  background-color: $darkTeal;
  height: 40px;
  color: $white;
  width: 100%;
}

h1 {
  font-size: 38px;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

body {
  max-width: 1400px;
  margin: 0 auto;
  background-color: $white;
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}
