// Variables
$lightTeal: #2399A6;
$darkTeal: #237377;
$lightGray: #EEE;
$mediumGray: #AAA;
$darkGray: #595959;
$fontGray: #BCBCBC;
$black: #323232;
$white: #fff;

$smFont: 12px;
$mdFont: 14px;
$lgFont: 16px;
$xlgFont: 18px;

// Universal classes
.page-padding {
  padding-left: 125px;
  padding-right: 125px;
}

.no-padding {
  padding: 0 !important;
}

.font-sm {
  font-size: $smFont;
}

.font-md {
  font-size: $mdFont;
}

.font-lg {
  font-size: $lgFont;
}

.font-xlg {
  font-size: $xlgFont;
}

.btn-teal {
  background-color: $darkTeal;
  height: 40px;
  color: $white;
  width: 100%;
}

h1 {
  font-size: 38px;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.flex-middle {
  display: flex;
  align-items: center;
}

// General styling
html {
  background-color: pink;
}

body {
  max-width: 1400px;
  margin: 0 auto;
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}
