footer {
  background-color: $lightTeal;
  padding-top: 20px;
  padding-bottom: 20px;
  color: $white;

  .footer-first {
    .phone,
    .address {
      text-align: center;
    }
    .social-icons {
      margin: 20px 0;
      @include flexbox(row, space-between, center, wrap);
    }
  }

  .footer-second {
    .links {
      @include flexbox(row, space-between, center, wrap);
      a {
        text-decoration: underline;
      }
    }

    .copyright {
      text-align: center;
      margin: 10px 0;
    }

    .icons {
      text-align: center;
      svg {
        &:first-of-type {
          margin-right: 7.5px;
        }
        &:last-of-type {
          margin-left: 7.5px;
        }
      }
    }
  }
}
