header {
  .upper-header {
    height: 50px;
    padding-top: 5px;
    padding-bottom: 5px;

    .left {
      .logo {
        display: none;
      }
    }

    .right {
      .icon-links {
        @include flexbox(row, flex-end, center, wrap);

        a {
          @include flexbox(column, flex-end, center, wrap);
          color: $lightTeal;

          &:not(:first-of-type) {
            margin-left: 20px;
          }

          &.mobile-menu {
            .hamburger {
              height: 14px;
              width: 20px;
              @include flexbox(column, space-between, center);

              .line {
                height: 2px;
                width: 100%;
                background-color: $lightTeal;
              }
            }
          }
        }
      }

      .text-links {
        display: none;
      }
    }
  }

  .lower-header {
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
    background: $mediumGray;

    .search-mobile {
      .input-group-addon {
        background-color: $lightTeal;
        width: 27%;

        svg {
          margin: 0 auto;
          height: 21px;
          width: 21px;
        }
      }
    }

    .search {
      display: none;

      input {
        border-radius: 0;
        height: 40px;
      }
    }

    .links {
      display: none;

      .link {
        @include flexbox(row, center, center);
        color: $white;
        a {
          text-decoration: underline;
        }
      }
    }
  }
}
