.no-padding {
  padding: 0 !important; }

.font-sm {
  font-size: 12px; }

.font-md {
  font-size: 14px; }

.font-lg {
  font-size: 16px; }

.font-xlg {
  font-size: 18px; }

.btn-teal {
  background-color: #237377;
  height: 40px;
  color: #fff;
  width: 100%; }

h1 {
  font-size: 38px; }

.full-height {
  height: 100%; }

.full-width {
  width: 100%; }

body {
  max-width: 1400px;
  margin: 0 auto;
  background-color: #fff; }

a {
  cursor: pointer; }
  a:hover {
    text-decoration: none; }

img {
  max-width: 100%; }

header .upper-header {
  height: 50px;
  padding-top: 5px;
  padding-bottom: 5px; }
  header .upper-header .left .logo {
    display: none; }
  header .upper-header .right .icon-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    header .upper-header .right .icon-links a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: flex-end;
      -ms-flex-pack: flex-end;
      justify-content: flex-end;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      color: #2399A6; }
      header .upper-header .right .icon-links a:not(:first-of-type) {
        margin-left: 20px; }
      header .upper-header .right .icon-links a.mobile-menu .hamburger {
        height: 14px;
        width: 20px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
        header .upper-header .right .icon-links a.mobile-menu .hamburger .line {
          height: 2px;
          width: 100%;
          background-color: #2399A6; }
  header .upper-header .right .text-links {
    display: none; }
header .lower-header {
  height: 60px;
  padding-top: 5px;
  padding-bottom: 5px;
  background: #AAA; }
  header .lower-header .search-mobile .input-group-addon {
    background-color: #2399A6;
    width: 27%; }
    header .lower-header .search-mobile .input-group-addon svg {
      margin: 0 auto;
      height: 21px;
      width: 21px; }
  header .lower-header .search {
    display: none; }
    header .lower-header .search input {
      border-radius: 0;
      height: 40px; }
  header .lower-header .links {
    display: none; }
    header .lower-header .links .link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      color: #fff; }
      header .lower-header .links .link a {
        text-decoration: underline; }

main .agent {
  background-color: #EEE;
  padding-bottom: 25px; }
  main .agent .agent-information .agent-wrapper {
    padding-top: 10px; }
    main .agent .agent-information .agent-wrapper small {
      color: #BCBCBC; }
    main .agent .agent-information .agent-wrapper button {
      margin: 15px 0; }
    main .agent .agent-information .agent-wrapper .social-icons {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  main .agent .agent-contact .agent-wrapper {
    padding-top: 25px; }
    main .agent .agent-contact .agent-wrapper .agent-contact-row {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
      -webkit-box-align: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      color: #2399A6;
      margin-bottom: 10px; }
      main .agent .agent-contact .agent-wrapper .agent-contact-row svg {
        margin-right: 15px; }
main .content {
  background-color: #fff;
  padding-top: 25px; }
  main .content .content-mobile-nav select {
    font-weight: bolder;
    color: #2399A6;
    border-radius: 0;
    background: url("../Assets/SVGs/angle-down.svg") no-repeat right;
    background-position-x: 95%;
    -webkit-appearance: none; }
  main .content .content-nav {
    display: none;
    padding: 30px 0 40px; }
    main .content .content-nav a {
      display: inline-block;
      width: 25%;
      padding-bottom: 10px;
      color: #AAA;
      border-bottom: 4px solid #EEE; }
      main .content .content-nav a.active, main .content .content-nav a:hover {
        border-color: #2399A6;
        color: #2399A6; }
  main .content .content-main {
    padding-top: 10px; }
    main .content .content-main article {
      line-height: 28px;
      padding-bottom: 25px; }
    main .content .content-main aside .aside-section {
      margin-bottom: 25px; }

footer {
  background-color: #2399A6;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff; }
  footer .footer-first .phone,
  footer .footer-first .address {
    text-align: center; }
  footer .footer-first .social-icons {
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  footer .footer-second .links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    footer .footer-second .links a {
      text-decoration: underline; }
  footer .footer-second .copyright {
    text-align: center;
    margin: 10px 0; }
  footer .footer-second .icons {
    text-align: center; }
    footer .footer-second .icons svg:first-of-type {
      margin-right: 7.5px; }
    footer .footer-second .icons svg:last-of-type {
      margin-left: 7.5px; }

@media screen and (min-width: 768px) {
  header .upper-header {
    height: 55px; }
    header .upper-header .left .logo {
      display: block; }
    header .upper-header .left .mobile-logo {
      display: none; }
  header .lower-header .search-mobile {
    display: none; }
  header .lower-header .search, header .lower-header .links {
    display: block; }

  main .agent {
    background: -webkit-gradient(linear, left top, left bottom, from(#aaaaaa), color-stop(2%, #eeeeee));
    background: linear-gradient(to bottom, #aaaaaa 0%, #eeeeee 2%); } }
@media screen and (min-width: 768px) {
  main .agent {
    padding-bottom: 0; }
  main .content .content-mobile-nav {
    display: none; }
  main .content .content-nav {
    display: block; }

  footer .footer-first .phone,
  footer .footer-first .address {
    text-align: left; }
  footer .footer-second .copyright,
  footer .footer-second .icons {
    text-align: right; } }
@media screen and (min-width: 1100px) {
  .page-padding {
    padding-left: 80px;
    padding-right: 80px; }

  header .upper-header {
    height: 100px; }
    header .upper-header .left {
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-pack: flex-start;
      -ms-flex-pack: flex-start;
      justify-content: flex-start;
      -webkit-box-align: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      header .upper-header .left .logo {
        height: 90%; }
    header .upper-header .right {
      height: 80%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between;
      -webkit-box-align: flex-end;
      -ms-flex-align: flex-end;
      align-items: flex-end;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
      header .upper-header .right .icon-links .mobile-menu {
        display: none; }
      header .upper-header .right .text-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: space-between;
        -ms-flex-pack: space-between;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        width: 100%; }

  footer .footer-first .social-icons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
    footer .footer-first .social-icons a:not(:last-of-type) {
      margin-right: 25px; } }
@media screen and (min-width: 1400px) {
  .header-padding {
    padding-left: 40px;
    padding-right: 40px; } }

/*# sourceMappingURL=styles.css.map */
